{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ _('Criminal Case Management  Register') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> Criminal Case Management Register </a></h1>
{% endblock %}


{% block nav-global %}

{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu_css %}
        {% endif %}
    {% endif %}
{% endblock %}


{% endblock %}
