{% extends 'base.html' %}

{%block content %}

    <h1>Delete Motion</h1>
    <p> Are  you sure you want to delete the motion {{ motion }} ?</p>
    <form action =  "{% url "motions-delete" pk=motion.id %}" method="POST">
      {% csrf_token %}
        <input type="submit" value="Yes, delete"/>
    </form>
    <a href="{% url  'motions-list' %}"> No , cancel</a>

{% endblock %}
