
{% extends 'base.html' %}

{% block  content %}

{% if  motion.id %}
    <h1>  Edit Motion </ h1>
{% else %}
  <h1>  Add Motion </ h1>
{%endif %}


<form action="{{action  }}" method="POST">
  {% csrf_token %}
 <ul>
         {{ form.as_p}}

  </ul>

<!--
<ul>
    {% if  form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {%endfor%}
    {% endif %}
</ul>
{% for  field in form  %}
<div id = "{{  field.auto_id }}_container ">
    {{field.help_text}}
    <div>
        {{  field.label_tag }}  {{ field }}
    </div>
    <div id="{{field.auto_id}}_errors">
        {{field.errors}}
    </div>
</div>

{%endfor%} -->
  <input id="save_motion" type="submit" value="Save Motion" /></input>



</form>


{% endblock %}
