{% extends 'base.html' %}
{%block content%}

    <h1> {{ motion }}</h1>

    <p> Title of Case: {{motion.title_of_case}}</p>
    <p>Offence :  {{motion.offence}}</p>
    <p> Suit Number :{{motion.suit_no}}</p>
    <p> Hearing Date : {{motion.hearing_date}}</p>

            <!--<a href="{% url motions-list' %}">  Back List </a>-->
            <a href="{% url  'motions-list' %}"  >Motion</a>


{%endblock%}
